

.main-buttons {
   /* position: relative;*/
    border-radius: 10px;
    padding: 30px;
    margin: 25px;
    width: 220px;
    height: 180px;
    color: ghostwhite;
    font-size: 30px;
    background-image: linear-gradient(0.50turn, #3f87a6,83%, #ebf8e1,#f69d3c);
}

.button-layout {
    position: relative;
    display: flex;
    
}

.layout-1 {
    position: absolute;
    transform: translate(-50%,-10%);
    left:50%;
}

.layout-2 {
    position: absolute;
    transform: translate(-50%,110%);
    left: 50%;
}

